<div class="app-stock__last-update">
  <span>Last update:</span>
  <span>{{ lastUpdate }}</span>
</div>
<table class="app-stock-table">
  <thead class="app-stock-table__head">
    <th *ngFor="let column of columns"
      class="app-stock-table__column-header"
      [ngClass]="{ 'app-stock-table__column-sortable': column.columnParams.sortable }"
      (click)="sortChange(column)"
    >
      {{ column.name }}
    </th>
  </thead>
  <tbody class="app-stock-table__body">
    <tr *ngFor="let item of _items; trackBy: trackFn" class="app-stock-table__row">
      <td
        *ngFor="let column of columns"
        class="app-stock-table__cell"
        [ngClass]="[column.columnParams.cssClass, (column.type === COLUMN_TYPE.Percent) ? getPercentClass(item[column.fieldName]) : '']">
          {{ format(item[column.fieldName], column) }}
      </td>
    </tr>
  </tbody>
</table>
<app-pager
  [itemsLength]="pagedItems?.length || 0"
  [pageNumber]="pageNumber"
  [pageSize]="pageSize"
  (onPageChange)="switchPage($event)"
></app-pager>
